.calculator {
  }
  .calculator .wrapper {
    padding: 30px 0 30px 0; }
  .calculator .all {
    background: white;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    margin: 30px 0; }
    .calculator .all .details {
      padding: 40px;
      background: #dbe3e3; }
      .calculator .all .details #expandBlock {
        position: absolute;
        width: 840px;
        margin-top: -10px;
        text-align: center;
        font-family: "Clear Sans Web";
        font-size: 18px; }
        .calculator .all .details #expandBlock .clickable {
          color: #4488ad;
          border-bottom: 1px #4488ad dashed;
          cursor: pointer; }
      .calculator .all .details #expandedBlock {
        display: none;
        font-family: "Clear Sans Web";
        font-size: 16px; }
        .calculator .all .details #expandedBlock #salaryOptionsBlock {
          border-bottom: 1px solid white;
          text-align: center; }
        .calculator .all .details #expandedBlock #checkBoxesBlock {
          padding-bottom: 40px; }
        .calculator .all .details #expandedBlock label {
          margin: 0 20px; }
    .calculator .all #result-float {
      background: white;
      position: relative;
      padding: 60px 30px;
      text-align: center;
      font-family: "Clear Sans Web";
      font-size: 24px;
      -webkit-border-bottom-right-radius: 11px;
      -webkit-border-bottom-left-radius: 11px;
      -moz-border-radius-bottomright: 11px;
      -moz-border-radius-bottomleft: 11px;
      border-bottom-right-radius: 11px;
      border-bottom-left-radius: 11px; }
      .calculator .all #result-float.floating {
        -webkit-box-shadow: 0px -5px 6px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px -5px 6px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0px -5px 6px 0px rgba(0, 0, 0, 0.05);
        z-index: 2; }
    .calculator .all .result-disclaimer {
      width: 400px;
      font-size: 14px;
      margin: 40px auto 0 auto;
      line-height: 1.2; }
  .calculator small {
    color: #598585; }
  .calculator h1 {
    font-family: "Roboto Slab Web";
    font-weight: bold;
    font-size: 36px;
    color: white; }
  .calculator #calculator {
    text-align: center; }
    .calculator #calculator input[type=text] {
      border: 1px solid #598585;
      font-family: "Clear Sans Web";
      text-align: center;
      outline: none;
      background-color: transparent; }
    .calculator #calculator input.bigNumber {
      width: 200px;
      font-size: 44px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px; }
    .calculator #calculator input.mediumNumber {
      width: 76px;
      font-size: 16px;
      margin-right: 7px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
    .calculator #calculator input.smallNumber {
      width: 60px;
      font-size: 16px;
      margin-right: 7px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
    .calculator #calculator dl {
      margin: 0 auto;
      overflow: hidden; }
      .calculator #calculator dl dt {
        text-align: left;
        padding: 8px 0 8px 0; }
      .calculator #calculator dl dd {
        text-align: left;
        padding-bottom: 5px; }
      .calculator #calculator dl .mediumSlider {
        display: inline-block;
        width: 105px;
        margin-right: 15px; }
      .calculator #calculator dl .smallSlider {
        display: inline-block;
        width: 173px;
        margin-right: 10px; }
      .calculator #calculator dl #expenditure {
        margin-right: 10px; }
    .calculator #calculator #expandedBlock ul {
      width: 600px;
      margin: 0 auto 12px auto;
      text-align: left; }
      .calculator #calculator #expandedBlock ul li {
        line-height: 1.7; }
        .calculator #calculator #expandedBlock ul li ul {
          width: 570px;
          margin-left: 30px; }
      .calculator #calculator #expandedBlock ul label {
        margin-left: 0; }
      .calculator #calculator #expandedBlock ul small {
        font-size: 85%; }
    .calculator #calculator .selfemployedBlock {
      margin: 0 auto 40px auto;
      display: none; }
    .calculator #calculator #collapse {
      position: absolute;
      color: #598585;
      cursor: pointer;
      font-size: 30px;
      margin-left: 847px;
      margin-top: -30px; }
    .calculator #calculator hr {
      border: 0;
      border-top: 1px solid white;
      margin: 25px 0; }
  .calculator .bigSlider {
    width: 173px;
    display: inline-block; }
  .calculator .ui-slider {
    height: 4px;
    background: #3DACDB;
    border: 0; }
  .calculator .ui-slider .ui-slider-handle {
    width: 17px;
    height: 17px;
    background: #3DACDB;
    border: 0;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    outline: none;
    margin-left: -9px;
    top: -7px; }
  .calculator #primary-block {
    padding: 45px 0 5px; }
    .calculator #primary-block #salary-block, .calculator #primary-block #age-block, .calculator #primary-block #type-block {
      }
    .calculator #primary-block #type-block ul {
      line-height: 1.5; }
      .calculator #primary-block #type-block ul li.last-of-block {
        margin-bottom: 8px; }
    .calculator #primary-block #salary-block, .calculator #primary-block #type-block {
      border-right: 1px solid #598585; }
    .calculator #primary-block #salary-block, .calculator #primary-block #type-block, .calculator #primary-block #age-block {
      float: left;
      padding: 25px 51px;
      display: block;
      height: 220px;
      font-family: "Clear Sans Web";
      line-height: 1.2; }
    .calculator #primary-block #type-block {
      text-align: left; }
    .calculator #primary-block #age-block {
      padding-right: 0; }
      .calculator #primary-block #age-block em {
        color: #598585;
        font-weight: bold; }
  .calculator .hidden {
    display: none; }