* {
    outline: 0;
}
body {
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    text-shadow: none;
}
.container-jb {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

#section-pension-head {
    background-image: url(../images/section-pension-head-fon.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    color: #fff;
    padding-top: 123px;
    padding-bottom: 130px;
}
#section-pension-head h1 {
    font-family: "PT Sans", sans-serif; 
    text-align: center;
    font-size: 56px;
    line-height: 72px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0px;
    margin-bottom: 15px;
}
#primary-block, #dodatBlock {
    background-color:  #F7FFFB;
}
.calculator #primary-block #salary-block, .calculator #primary-block #age-block, .calculator #primary-block #sex-block {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
    color: #000;
    border-right: 0;

    float: left;
    display: block;
    height: auto;
    text-shadow: none;
}
.calculator #primary-block #salary-block {
    padding: 25px 0 25px 90px;
}
.calculator #primary-block #age-block, .calculator #primary-block #sex-block {
    padding: 25px 0 25px 110px;
}
.calculator #primary-block #type-block-title {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
    color: #000;
    padding-left: 90px;
    margin-top: 55px;
}
.calculator #primary-block #type-block {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
    color: #000;
    border-right: 0;
    padding: 13px 0 40px;
    display: block;
    height: auto;
    float: none;
}
.calculator #primary-block #type-block .col1 {
    padding-left: 105px;
}
#expandedBlock .col1 {
    padding-left: 80px;
}
.calculator #primary-block #type-block .col2, .calculator #primary-block #type-block .col3 {
    padding-left: 110px;
}
#expandedBlock .col2, #expandedBlock .col3 {
    padding-left: 100px;
}
.calculator small {
    font-weight: bold; 
    font-size: 14px;
    line-height: 18px;
    color: rgba(41, 43, 44, 0.5)
}
.calculator #calculator input[type=text] {
    border: 1px solid #3DACDB;
    text-align: center;
    outline: none;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(61, 172, 219, 0.15);
    
    font-family: "PT Sans", sans-serif;
    color: #000000;
}
.calculator #calculator input.bigNumber, .calculator #calculator input.smallNumber {
    width: 173px;
    height: 44px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;

    margin-bottom: 15px;
}
.calculator #primary-block #salary-block p, .calculator #primary-block #type-block p, .calculator #primary-block #age-block p {
    margin: 0 0 13px;
}
.calculator #primary-block #sex-block label {
    margin-top: 10px;
}
.calculator #primary-block #sex-block p {
    margin: 0 0 18px;
}
.radio {
    display: none;
}
.radio-custom {
    width: 17px;
    height: 17px;
    border: 1px solid #3DACDB;
    border-radius: 3px;
    position: relative;
}
.radio:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #3DACDB;
    border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
    border-radius: 50%;
}
.radio-custom,
.label {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-weight: 400;
    font-size: 18px;
}
.calculator #primary-block #type-block label {
    margin-bottom: 18px;
}
.calculator #calculator dl dt {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
    color: #000;
    text-shadow: none;
}
#expandedBlock {
    padding-top: 55px;
    padding-bottom: 55px;
}
.calculator #calculator dl {
    padding: 0  0  0 10px;
}
#result {
    background-color: #3DACDB;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    position: relative;
}
#result-float {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    line-height: 1.1;
    font-size: 30px;
    background-color: #3DACDB;
}
#result-float .result-disclaimer {
    font-size: 18px;
    position: relative;
}
#result-value, #result-uah {
    font-size: 48px;
    font-weight: 600;
}
#note {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}
#dodatBlock {
    padding-top: 20px;
    padding-bottom: 65px;
}
#dodatBlock .dodatok p {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    margin-top: 45px;
    margin-bottom: 10px;
}
#dodatBlock .dodatok label {
    margin: 20px 60px 20px 0;
}
#dodatBlock .dodatok label {
    margin: 20px 10px 20px 50px;
}
#dodatBlock .dodatok .label {
    text-align: left;
    max-width: 420px;
    white-space: normal;
}
/*#dodatBlock .row:first-child label:last-child .label {
    padding-top: 20px;
}*/
/*****/
.data-year-of-birth {
    text-align: left;
    margin-top: 22px;
}
.data-year-of-birth .dropdown-toggle {
    font-family: "PT Sans", sans-serif;
    -webkit-border-radius: 45px!important;
    -moz-border-radius: 45px!important;
    border-radius: 45px!important;
    border: 1px solid #3DACDB;
    background: #fff;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    min-width: 173px;
    box-shadow: 0px 4px 6px rgba(61, 172, 219, 0.15);    
}
.data-year-of-birth .btn.active.focus, .data-year-of-birth .btn.active:focus, .data-year-of-birth .btn.focus,
.data-year-of-birth .btn:active.focus, .data-year-of-birth .btn:active:focus, .data-year-of-birth .btn:focus {
    outline:0;
}
.data-year-of-birth ul {
    border-radius: 0;
    max-width: 141px;
    min-width: 96px;
    left: 15px;
    max-height: 181px;
    overflow-y: auto; 
    padding: 0;
    border: 1px solid #3DACDB;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(61, 172, 219, 0.15);
    cursor: pointer;
}
.data-year-of-birth .dropdown-toggle .fa {
    font-size: 18px;
    margin-top: 5px;
    margin-right: 12px;    
}
.data-year-of-birth .dropdown-toggle .fa:before {
    color: #3DACDB;
}
.data-year-of-birth li>a {
    font-family: "PT Sans", sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px 0 35px;
}
.data-year-of-birth li {
    background-color: #eee;
}
.data-year-of-birth li:hover {
    background-color: #fff;
}
.data-year-of-birth li>a:hover {
    text-decoration: none;
    background-color: #fff;
}
/*****/
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #3DACDB;
    background-color: rgba(61, 172, 219, 0.4);
    filter: "alpha(opacity=20)";
    -ms-filter: "alpha(opacity=20)";
}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background-color: rgba(61, 172, 219, 0.9);;
}
/******/
#result.fix_table {
    z-index: 1010;
    position: fixed;
}
.info {
    content: url(../images/info-icon.png);
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}
.popover {
  border: 1px solid #ffd64c;
  color: #292b2c;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  line-height: 1.1;
  width: 384px;
  max-width: 390px;

  -webkit-box-shadow: 0px 2px 12px 0px rgba(255, 214, 76, .46);
  -moz-box-shadow: 0px 2px 12px 0px rgba(255, 214, 76, .46);
  box-shadow: 0px 2px 12px 0px rgba(255, 214, 76, .46);
}
.popover .arrow {
    display: none;
    border-top: 9px solid #ffd64c !important;
}
#footer {
    padding: 80px 0;
    background: #161616;
}
.nowrap-date {
    white-space: nowrap;
}

/*--------MEDIA --------*/
/*
media queries
*/
@media only screen and (max-width: 1199px) {
    .calculator #primary-block #salary-block {
        padding: 25px 0 25px 50px;
    }
    .calculator #primary-block #age-block {
        padding: 25px 0 25px 40px;
    }
    .calculator #primary-block #sex-block {
        padding: 25px 0 25px 50px;
    }
    .calculator #primary-block #type-block-title {
        padding-left: 50px;
    }
    .calculator #primary-block #type-block .col1 {
        padding-left: 50px;
    }
    .calculator #primary-block #type-block .col2 {
        padding-left: 50px;
    }
    .calculator #primary-block #type-block .col3 {
        padding-left: 50px;
    }
    #expandedBlock .col1 {
        padding-left: 50px;
    }
    #expandedBlock .col2 {
        padding-left: 50px;
    }
    #expandedBlock .col3 {
        padding-left: 50px;
    }
}
@media only screen and (max-width: 991px) {
    .calculator #primary-block #age-block {
        padding: 25px 0 25px 100px;
    }
    .calculator #primary-block #sex-block {
        padding: 25px 0 25px 85px;
    }    
    .calculator #primary-block #type-block .col2 {
        padding-left: 20px;
    }
    #expandedBlock .col2 {
        padding-left: 20px;
    }
    #expandedBlock .col2 {
        padding-left: 20px;
    }
    #expandedBlock .col3 {
        padding-left: 0px;
    }
    .calculator #calculator dl dt {
        font-size: 16.8px;
    }
    /*#dodatBlock .dodatok label {
        margin: 20px 10px 20px 35px;
    }*/
    #dodatBlock .dodatok label {
        margin: 20px 10px 20px 35px;
        width: 100%;
        text-align: left;
    }

}
@media only screen and (max-width: 820px) {
    .calculator #primary-block #age-block {
        padding: 25px 0 25px 40px;
    }
    .calculator #primary-block #sex-block {
        padding: 25px 0 25px 50px;
    }

}
@media only screen and (max-width: 767px) {
    .calculator #primary-block {
        padding: 25px 0 5px;
    }
    .calculator #calculator dl dt {
        font-size: 18px;
    }
    .calculator #primary-block #salary-block {
        padding: 25px 0 25px 0px;
        float: none;
        text-align: center;
    }
    .calculator #primary-block #age-block {
        padding: 25px 0 25px 0px;
        float: none;
        text-align: center;
    }
    .calculator #primary-block #sex-block {
        padding: 25px 0 25px 0px;
        float: none;
        text-align: center;
    }
    .calculator #primary-block #type-block-title {
        padding-left: 0;
        text-align: center;
    }
    .calculator #primary-block #type-block {
        padding: 13px 0 20px;
    }
    .calculator #primary-block #type-block .col1, .calculator #primary-block #type-block .col2, .calculator #primary-block #type-block .col3 {
        padding-left: 0;
        text-align: center;
        float: none;
    }
    .calculator #primary-block #type-block label {
        min-width: 210px;
        text-align: left;
    }
    #expandedBlock {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    #expandedBlock .col2, #expandedBlock .col3 {
        margin-top: 20px;
    }
    .calculator #primary-block #sex-block label:last-child {
        margin-left: -15px;
    }
    #expandedBlock .col1, #expandedBlock .col2, #expandedBlock .col3 {
        padding-left: 15px;
        float: none;
        text-align: center;
    }
    .calculator #calculator dl dt, .calculator #calculator dl dd, .data-year-of-birth {
        text-align: center;
    }
    .data-year-of-birth {
        width: 173px;
        margin: 0 auto;
    }
    .calculator #primary-block #type-block-title {
        margin-top: 20px;
        padding: 0;
    }
    #dodatBlock {
        padding-bottom: 25px;        
    }
    #dodatBlock .dodatok p {
        margin-top: 25px;
    }
    /*#dodatBlock .row:first-child .dodatok label {
        width: 280px;
        display: block;
        margin: 20px auto;
        text-align: left;
    }*/
    #dodatBlock .row:first-child .dodatok .label {
        max-width: 240px;
        display: inline-block;
    }
    /*#dodatBlock .row:last-child .dodatok label {
        margin: 20px auto;
        display: block;
    }*/
    /*#dodatBlock .row:last-child .dodatok label:last-child {
        margin-left: -4px;
    }*/
    
}
@media only screen and (max-width: 600px) {  
    
    .popover {
        width: 300px;
    }
    #section-pension-head h1 {
        font-size: 46px;
    }    
}
 