<template>
    <div id="slide-container">
        <input type="number"
               class="number bigNumber"
               v-model="sliderValue"
               :min="min"
               :max="max"
               :step="step"
               @input="onSlide()">

        <div class="slide">
            <input type="range"
                   v-model="sliderValue"
                   :min="min"
                   :max="max"
                   :step="step"
                   @input="onSlide()"
            >
        </div>

    </div>
</template>

<script>
    export default {
        name: 'Slider',
        props: ['value', 'min', 'max', 'step'],
        data() {
            return {
                sliderValue: 0,
            }
        },
        watch: {
            value() {
                this.sliderValue = this.value;
            }
        },
        created() {
            this.sliderValue = this.value;
        },
        methods: {
            onSlide() {

                if (+this.sliderValue === 0) {
                    if (this.step) {
                        if (this.step < this.min) {
                            this.sliderValue = this.step;
                        }
                    } else {
                        this.sliderValue = 1;
                    }
                }

                if (this.sliderValue > this.max) {
                    this.sliderValue = this.max;
                }

                this.$emit('onSlide', this.sliderValue);
            },
        }
    }
</script>

<style lang="less">
    #slide-container {
        width: 100%;
        position: relative;
        padding: 8px 0;
        z-index: inherit;
        .slide {
            width: 100%;
            position: relative;
            input[type="range"] {
                -webkit-appearance: none;
                //width: 100%;
                width: 173px;
                height: 4px;
                background: #3DACDB;
                border-radius: 3px;
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
                z-index: 1;
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 17px;
                    height: 17px;
                    background: #3DACDB;
                    cursor: pointer;
                    border-radius: 50%;
                }
                &::-moz-range-thumb {
                    width: 17px;
                    height: 17px;
                    background: #3DACDB;
                    cursor: pointer;
                    border-radius: 50%;
                }
            }
        }

    }
    .calculator #calculator input[type=number] {
        border: 1px solid #3DACDB;
        text-align: center;
        outline: none;
        background-color: #fff;
        box-shadow: 0px 4px 6px rgba(61, 172, 219, 0.15);
        font-family: "PT Sans", sans-serif;
        color: #000000;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    @media only screen and (max-width: 767px) {
        #slide-container {
            .slide {
                input[type="range"] {
                    margin: 0 auto;
                }
            }
        }
    }
</style>