<template>
    <div id="app">
        <calculator @onCalc="showResult($event)"></calculator>
        <result :type="type" :value="value"></result>
    </div>
</template>

<script>
    import Calculator from './Calculator.vue'
    import Result from './Result.vue'
    import constants from './constants'

    export default {
        name: 'app',
        components: {
            'calculator': Calculator,
            'result': Result,
        },
        data () {
            return {
                constants: constants,
                type: constants.NORMAL,
                value: 0,
            }
        },
        methods: {
            showResult(e) {
                console.log(e);
                this.type = e.type;
                this.value = e.value;
            }
        }
    }
</script>

<style>

</style>
