<template>
    <div class="calculator">
        <div id="section-pension-head">
            <div class="container-jb">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Пенсійний калькулятор</h1>
                    </div>
                </div>
            </div>
        </div>
        <form id="calculator">
            <div id="primary-block">
                <div class="container-jb">
                    <div class="row">

                        <div class="col-lg-4 col-md-4" id="salary-block">
                            <p>Ваша заробітна плата<br>
                                <small>грн/міс</small>
                            </p>
                            <slider :value="3000" :min="1000" :max="30000" :step="100"
                                    @onSlide="setValue('salary', $event)"></slider>
                        </div>
                        <div class="col-lg-4 col-md-4" id="age-block">
                            <p>В якому віці ви виходите на пенсію<br>
                                <small>років</small>
                            </p>
                            <slider :value="60" :min="60" :max="90" :step="1" @onSlide="setValue('pensionAge', $event)"></slider>
                        </div>
                        <div class="col-lg-4 col-md-4" id="sex-block">
                            <p>Ваша стать</p>
                            <label>
                                <input type="radio" value="m" class="radio affects-form-limits"
                                       v-model="gender"/>
                                <span class="radio-custom"></span> <span class="label">Чоловік</span>
                            </label><br>
                            <label>
                                <input type="radio" value="f" class="radio affects-form-limits"
                                       v-model="gender"/>
                                <span class="radio-custom"></span> <span class="label"> Жінка</span>
                            </label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12" id="type-block-title">
                            <p>Ваша категорія</p>
                        </div>
                    </div>

                    <div class="row" id="type-block">
                        <div class="col1 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label>
                                <input type="radio" :value="constants.NORMAL"
                                       class="radio affects-form-state affects-form-limits" v-model="type"/>
                                <span
                                        class="radio-custom"></span> <span
                                    class="label">Загальні умови</span>
                            </label><br>
                            <label>
                                <input type="radio" :value="constants.MILITARY"
                                       class="radio affects-form-state affects-form-limits" v-model="type">
                                <span
                                        class="radio-custom"></span> <span class="label">Я — військовий</span>
                            </label><br>
                            <label>
                                <input type="radio" :value="constants.JUDGE"
                                       class="radio affects-form-state affects-form-limits" v-model="type">
                                <span
                                        class="radio-custom"></span> <span class="label">Я — суддя</span>
                            </label><br>
                        </div>
                        <div class="col2 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label>
                                <input type="radio" :value="constants.GOVERNMENT"
                                       class="radio affects-form-state affects-form-limits" v-model="type">
                                <span
                                        class="radio-custom"></span> <span
                                    class="label">Я — держслужбовець</span>
                            </label><br>
                            <label>
                                <input type="radio" :value="constants.JOURNALIST"
                                       class="radio affects-form-state affects-form-limits" v-model="type"><span
                                    class="radio-custom">

                            </span> <span class="label">Я — журналіст</span>
                            </label><br>
                            <label>
                                <input type="radio" :value="constants.SCIENTIST"
                                       class="radio affects-form-state affects-form-limits" v-model="type">
                                <span
                                        class="radio-custom"></span> <span class="label">Я — науковець</span>
                            </label><br>
                        </div>
                        <div class="col3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label>
                                <input type="radio" :value="constants.DEPUTY"
                                       class="radio affects-form-state affects-form-limits" v-model="type">
                                <span
                                        class="radio-custom"></span> <span class="label">Я — депутат</span>
                            </label><br>
                            <label>
                                <input type="radio" :value="constants.ENTREPRENEUR"
                                       class="radio affects-form-state affects-form-limits" v-model="type">
                                <span
                                        class="radio-custom"></span> <span class="label">Я — підприємець</span>
                            </label><br>
                            <label>
                                <input type="radio" :value="constants.MINER"
                                       class="radio affects-form-state affects-form-limits" v-model="type">
                                <span
                                        class="radio-custom"></span> <span class="label">Я — шахтар</span>
                            </label><br>
                        </div>
                    </div>

                </div>
            </div>
            <div class="details">
                <div id="expandedBlock">
                    <div class="container-jb">
                        <div class="row">
                            <div class="col1 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <dl>
                                    <dt>Рік народження</dt>
                                </dl>
                                <div class="data-year-of-birth">
                                    <div :class="['input-group-btn', {open: showYears}]">
                                        <button type="button" class="btn dropdown-toggle"
                                                @click="showYears = !showYears"><span
                                                id="year-of-birth">{{birthDay}}</span> <i
                                                class="fa fa-caret-down pull-right"></i>
                                        </button>
                                        <ul class="dropdown-menu mCustomScrollbar" id="year-of-birth-list"
                                            data-mcs-theme="minimal-dark">
                                            <li v-for="year in getYears(1950, 56)"><a href="#"
                                                                                      @click.prevent="setYear(year)">{{year}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col2 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <dl>
                                    <dt>Загальний стаж<br>
                                        <small>років</small>
                                    </dt>
                                    <dd>
                                        <slider :value="0" :min="0" :max="60" :step="1"
                                                @onSlide="setValue('totalExperience', $event)"></slider>
                                    </dd>
                                </dl>
                            </div>
                            <div class="col3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="for-type-military" v-show="type == constants.MILITARY">
                                    <dl>
                                        <dt>Стаж війської служби<br>
                                            <small>років</small>
                                        </dt>
                                        <dd>
                                            <slider :value="0" :min="0" :max="35" :step="1"
                                                    @onSlide="setValue('militaryExperience', $event)"></slider>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="for-type-judge" v-show="type == constants.JUDGE">
                                    <dl>
                                        <dt>Стаж роботи суддею<br>
                                            <small>років</small>
                                        </dt>
                                        <dd>
                                            <slider :value="0" :min="0" :max="35" :step="1"
                                                    @onSlide="setValue('judgeExperience', $event)"></slider>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="for-type-government" v-show="type == constants.GOVERNMENT">
                                    <dl>
                                        <dt>Стаж роботи держслужбовцем<br>
                                            <small>років</small>
                                        </dt>
                                        <dd>
                                            <slider :value="0" :min="0" :max="35" :step="1"
                                                    @onSlide="setValue('governmentExperience', $event)"></slider>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="for-type-scientist" v-show="type == constants.SCIENTIST">
                                    <dl>
                                        <dt>Стаж роботи науковцем<br>
                                            <small>років</small>
                                        </dt>
                                        <dd>
                                            <slider :value="0" :min="0" :max="35" :step="1"
                                                    @onSlide="setValue('scientistExperience', $event)"></slider>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="for-type-miner" v-show="type == constants.MINER">
                                    <dl>
                                        <dt>Стаж роботи шахтарем<br>
                                            <small>років</small>
                                        </dt>
                                        <dd>
                                            <slider :value="0" :min="0" :max="35" :step="1"
                                                    @onSlide="setValue('minerExperience', $event)"></slider>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="dodatBlock">
                <div class="container-jb" v-show="type == constants.GOVERNMENT">
                    <div class="row">
                        <div class="col-lg-12 dodatok">
                            <p>Чи був у вас стаж 35 (ч) / 30 (ж) років в 60 років (жінки згідно графіку) <br>(якщо стаж
                                перевищує 35 років для чоловіків і 30 років для жінок, а вік перевищує 60 років)?</p>
                            <label>
                                <input type="radio" value="yes" class="radio affects-form-limits"
                                       v-model="governmentAddition.fullExperience" />
                                <span class="radio-custom"></span> <span
                                    class="label"> Так</span></label>
                            <label>
                                <input type="radio" value="no" class="radio affects-form-limits" v-model="governmentAddition.fullExperience"/>
                                <span
                                        class="radio-custom"></span> <span class="label"> Ні</span></label>
                            <label>
                                <input type="radio" value="special"
                                       class="radio affects-form-limits" v-model="governmentAddition.fullExperience"/>
                                <span class="radio-custom"></span> <span
                                    class="label"> Працюю за фахом, який дає право на отримання спеціальної пенсії</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 dodatok">
                            <p>Чи був у вас стаж роботи держслужбовцем 10 років і більше станом на 01.05.2016, <br>чи
                                займали ви посаду держслужбовця <span class="nowrap-date">1 травня 2016 року?</span></p>
                            <label><input type="radio" value="yes"
                                          class="radio affects-form-limits"
                                          v-model="governmentAddition.experience"/><span class="radio-custom"></span> <span
                                    class="label"> Так</span></label>
                            <label><input type="radio" value="no"
                                          class="radio affects-form-limits" v-model="governmentAddition.experience"/><span
                                    class="radio-custom"></span> <span class="label"> Ні</span></label>
                        </div>
                    </div>
                </div>
                <div class="container-jb" v-show="type == constants.MILITARY && false">
                    <div class="row">
                        <div class="col-lg-12 dodatok">
                            <p>Чи працюєте ви зараз?</p>
                            <label>
                                <input type="radio" value="yes"
                                          class="radio affects-form-limits"
                                          v-model="militaryAddition.work"/><span class="radio-custom"></span> <span
                                    class="label"> Так</span>
                            </label>
                            <label>
                                <input type="radio" value="no"
                                          class="radio affects-form-limits" v-model="militaryAddition.work"/><span
                                    class="radio-custom"></span> <span class="label"> Ні</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="container-jb" v-show="type == constants.MINER">
                    <div class="row">
                        <div class="col-lg-12 dodatok">
                            <p>Чи працюєте ви зараз?</p>
                            <label>
                                <input type="radio" value="yes"
                                       class="radio affects-form-limits"
                                       v-model="minerAddition.work"/><span class="radio-custom"></span> <span
                                    class="label"> Так</span>
                            </label>
                            <label>
                                <input type="radio" value="no"
                                       class="radio affects-form-limits" v-model="minerAddition.work"/><span
                                    class="radio-custom"></span> <span class="label"> Ні</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import Slider from './components/Slider.vue'
    import constants from './constants'

    export default {
        name: 'calculator',
        components: {
            slider: Slider
        },
        data() {
            return {
                constants: constants,
                salary: 3000,
                pensionAge: 60,
                totalExperience: 35,
                militaryExperience: 35,
                judgeExperience: 35,
                governmentExperience: 35,
                scientistExperience: 35,
                minerExperience: 35,
                type: constants.NORMAL,
                gender: 'm',
                normalAddition: {
                    accessToPensionIn60: 'yes',
                },
                governmentAddition: {
                    fullExperience: 'yes',
                    experience: 'yes',
                },
                militaryAddition: {
                    work: 'yes',
                },
                minerAddition: {
                    work: 'yes',
                },
                showYears: false,
                birthDay: 1970,
            }
        },
        watch: {
            type() {
                this.calcPension();
            },
            gender() {
                this.calcPension();
            },
            year() {
                this.calcPension();
            },
            addition: {
                handler() {
                    this.calcPension();
                },
                deep: true
            }
        },
        methods: {
            setValue(key, value) {
                this[key] = value;
                this.calcPension();
            },
            getYears(from, count) {
                return [...Array(count).keys()].map(i => i + from);
            },
            setYear(year) {
                this.birthDay = year;
                this.showYears = false;
                this.calcPension();
            },
            getAge() {
                let date = new Date();
                return date.getFullYear() - this.birthDay;
            },
            calcPension() {

                let value = 0;

                switch (this.type) {
                    case constants.NORMAL:
                        value = this._calcNormal();
                        break;
                    case constants.MINER:
                        value = this._calcMiners();
                        break;
                    case constants.SCIENTIST:
                        value = this._calcScientist();
                        break;
                    case constants.GOVERNMENT:
                        value = this._calcGovernment();
                        break;
                    case constants.JUDGE:
                        value = this._calcJudge();
                        break;
                    case constants.MILITARY:
                        value = this._calcMilitary();
                        break;
                    case constants.JOURNALIST:
                        value = this._calcJournalist();
                        break;
                    case constants.DEPUTY:
                        value = this._calcDeputy();
                        break;
                    case constants.ENTREPRENEUR:
                        value = this._calcEntrepreneur();
                        break;
                }

                this.$emit('onCalc', {
                    type: this.type,
                    value: value.toFixed(2),
                });
            },
            _calcNormal() {
                // За возрастом
                let pension = 0;
                let age = this.getAge();
                let sex = this.gender;

                // Input data
                let B6 = +this.pensionAge;
                let B7 = +this.salary;
                let B8 = 9;
                let B9 = +this.totalExperience;
                let B10 = this.normalAddition.accessToPensionIn60;

                // Constants
                const HI6 = sex === 'm' ? 60 : 59;
                const HI7 = 25;
                const HI8 = sex === 'm' ? 35 : 30;
                const HI9 = 1373;
                const HI10 = 13730;
                const HI11 = 55845;
                const HI12 = 15;
                const HI13 = 15;
                const HI14 = 1489.2;
                const HI15 = 40;

                // Calculation
                let HI20 = B9;
                let HI21 = B9;
                let HI18 = HI20 >= HI8 ? (B6 >= 65 ? HI14 : HI9) : (HI9 * B9 / HI8);
                let HI19 = HI20 > HI8 ? (HI32 * HI18) : 0;
                let HI22 = HI20 - HI8;
                let HI23 = HI24/6273.45;
                let HI24 =  B7 <= HI11 ? B7 : HI11;

                let HI26 = HI33 > HI10 ? HI10 : HI33;
                // TODO check it
                let HI27 = (B6 >= 65 ? (B9 >= HI8 ? (HI26 < HI14 ? HI14 : HI26) : (B9*HI9/HI8)) : (B6 >= 60 ? (B9 >= HI8 ? (HI26 < HI9 ? HI9 : HI26) : 0) : 0));
                //console.log(HI27);
                let B20 = HI21*12;
                let B21 = B20/1200;
                let B22 = 0.75;
                let B19 = Math.min(B21, B22);

                let HI31 = B19;
                let HI32 = HI22*0.01;
                let HI36 = (B6 - HI6) * 12;
                let HI37 = HI36 <= 60 ? (HI36 * 0.005) : (60*0.005 + (HI36-60)*0.0075);
                let HI39 = HI23 * 5377.9 * HI31*HI37*B10;
                let HI33 = HI23 * 5377.9 * HI31 + Math.max(35*HI9, HI32 * HI23 * 5377.9 * 35) + HI39;

                let HI42 = (B6>=65 ? (B9>=HI13) : (B6>=63 ? (B9>=HI12) : (B6>=60 ? (B9>=HI7) : (B9>=HI15))));

                let HI44 = B8 == 9;
                // HI45 - sex
                let HI46 = HI42 * HI44;

                let HI47 = HI46 * HI27;

                pension = HI47;

                return pension;
            },
            _calcMiners() {
                // Шахтари
                let age = this.getAge();
                let sex = this.gender;

                // Input data
                let B6 = +this.pensionAge;
                let B7 = +this.totalExperience;
                let B8 = +this.minerExperience;
                let B9 = +this.salary;
                let B10 = 9;
                let B11 = this.minerAddition.work === 'yes';

                // Constants
                const HI6 = sex === 'm' ? 50 : 45;
                const HI7 = sex === 'm' ? 20 : 15;
                const HI8 = sex === 'm' ? 15 : 7.5;
                const HI9 = 13730;
                const HI10 = 1373;
                const HI11 = 6705.6;

                let HI16 = HI7 + HI8 + (B6 - HI6)*2;
                let HI17 = +(B7 - HI7);
                let HI18 = B9/6273.45;

                let B18 = HI16*12;
                let B19 = B18/12*100;
                let B20 = 0.75;
                let B17 = Math.min(B19, B20);

                let HI23 = B17;
                let HI24 = HI17 * 0.01;
                let HI12 = B7 > HI7 ? HI24*HI10 : 0;
                let HI25 = HI18 * 5377.9 * HI23 + HI12;

                let HI27 = B6 >= HI6;
                let HI28 = B7 >= HI7;
                let HI29 = +B10 === 8;
                // let HI30 - gender
                let HI31 = HI27 * HI28 * HI29;

                let HI20 = HI25 > HI9 ? HI9 : HI25;
                let HI21 = HI20 < HI11 ? HI11 : HI20;

                return HI31 * HI21; // HI32
            },
            _calcScientist() {
                // Ученые
                let pension = 0;
                let age = this.getAge();
                // TODO Calculation
                return pension;
            },
            _calcGovernment() {
                // Госслужащие
                let pension = 0;
                let age = this.getAge();
                let sex = this.gender;

                // Input data
                let B6 = age;
                let B7 = this.salary;
                let B8 = 9;
                let B9 = this.totalExperience;
                let B10 = this.governmentAddition.experience === 'yes';

                // Constants
                const HI6 = sex === 'm' ? 62 : 58.5;
                const HI7 = sex === 'm' ? 35 : 30;
                const HI8 = 10;
                const HI9 = 20;
                const HI10 = 13730;
                const HI11 = 55845;
                const HI12 = 1373;

                // Calculation
                let HI15 = HI7 + B6 - HI6;
                let HI16 = Math.min(HI11, B7);

                let HI18 = 0.6;
                let HI19 = HI18*HI16;
                let HI20 = HI19 > HI10 ? HI10 : HI19;
                let HI21 = HI20 < HI12 ? HI12 : HI20;

                return HI21;

                /*let HI24 = B10 == 1;
                let HI25 = B8 == 3;
                let HI26 = B6 >= HI6;
                let HI27 = HI15 >= HI7;
                // HI28 - sex
                let HI29 = HI26*HI27*HI25*HI24;

                let HI31 = HI29 * HI21;

                pension = HI31;

                return pension;*/
            },
            _calcJudge() {
                // Судди
                let pension = 0;
                let age = this.getAge();
                // TODO Calculation
                return pension;
            },
            _calcMilitary() {
                // Военные

                // Input data
                let pension = 0;
                let B6 = +this.getAge();
                let B7 = +this.salary;
                let B8 = 9;
                let B9 = +this.totalExperience;
                let B10 = this.militaryAddition.work === 'yes';
                let B11 = +this.militaryExperience;

                // Constants
                const HI6 = 45;
                const HI7 = 25;
                const HI8 = 12.5;
                const HI9 = 23.5;
                const HI10 = 13730;
                const HI11 = 1373;

                // Calculation
                let HI16 = HI9 + B6 - HI6;
                let HI17 = 0.7 * B7;
                let HI18 = HI16 > 20 ? HI36 * HI10 : 0;

                let HI21 = B11 >= 20 ? (HI16 - 20) : HI6 - 25;

                let HI36 = B11 >= 20 ? (Math.min(0.2, (HI16 - 20) * 0.03)) : Math.min(0.15, (HI16 - 25) * 0.01);
                let HI37 = B7 * (0.5 + HI36);

                let HI25 = HI37 > HI17 ? HI17 : HI37;
                let HI26 = HI25 < HI11 ? HI11 : HI25;

                let HI46 = HI26;
                let HI24 = HI46 > HI10 ? HI10 : HI46;

                let HI28 = (B6 >= HI6) * (B11 >= HI8) * (HI16 >= HI7);
                let HI29 = B11 >= HI9;
                let HI30 = B8 == 1;
                // H31 - sex
                let HI32 = (HI28 || HI29) * HI30;
                let HI33 = HI32 * HI24;

                pension = HI46;

                return pension;
            },
            _calcJournalist() {
                // Журналисты
                let pension = 0;
                let age = this.getAge();
                // TODO Calculation
                return pension;
            },
            _calcDeputy() {
                // Депутаты
                let pension = 0;
                let age = this.getAge();
                // TODO Calculation
                return pension;
            },
            _calcEntrepreneur() {
                // Предприниматели
                let pension = 0;
                let age = this.getAge();
                // TODO Calculation
                return pension;
            }
        }
    }
</script>

<style>
    label:hover {
        cursor: pointer;
    }
</style>