<template>
    <div id="result">
        <div class="container-jb">
            <div class="row">
                <div class="col-lg-12">
                    <div id="result-float">
                        <p>Ваша пенсія: <span id="result-value">{{value}}</span> <span id="result-uah">грн*</span></p>
                        <div class="for-type-normal" v-show="type == constants.NORMAL">
                            <p class="result-disclaimer">&nbsp;</p>
                        </div>
                        <div class="for-type-military" v-show="type == constants.MILITARY">
                            <p class="result-disclaimer">&nbsp;</p>
                        </div>
                        <div class="for-type-enterpreneur" v-show="type == constants.ENTREPRENEUR">
                            <p class="result-disclaimer">&nbsp;</p>
                        </div>
                        <div class="for-type-judge" v-show="type == constants.JUDGE">
                            <p class="result-disclaimer">Спеціальну пенсію скасовано але залишається довічне утримання</p>
                        </div>
                        <div class="for-type-journalist" v-show="type == constants.JOURNALIST">
                            <p class="result-disclaimer">Спеціальну пільгову пенсію журналістам скасовано</p>
                        </div>
                        <div class="for-type-deputy" v-show="type == constants.DEPUTY">
                            <p class="result-disclaimer">Спеціальну пільгову пенсію депутатам скасовано</p>
                        </div>
                        <div class="for-type-scientist" v-show="type == constants.SCIENTIST">
                            <p class="result-disclaimer">Спеціальну пільгову пенсію науковцям скасовано<span class="info"
                                                                                                             data-toggle="popover"
                                                                                                             data-trigger="hover"
                                                                                                             data-placement="top"
                                                                                                             data-content='ЗАКОН УКРАЇНИ "Про наукову і науково-технічну діяльність" Стаття 37. Пенсійне забезпечення наукових (науково-педагогічних) працівників 1. Пенсійне забезпечення наукових (науково-педагогічних) працівників здійснюється відповідно до Закону України "Про загальнообов’язкове державне пенсійне страхування". {Стаття 37 із змінами, внесеними згідно із Законом № 1774-VIII від 06.12.2016; в редакції Закону № 2148-VIII від 03.10.2017}'> </span>
                            </p>
                        </div>
                        <div class="for-type-miner" v-show="type == constants.MINER">
                            <p class="result-disclaimer">Залишаються чинними положення про престижність шахтарської
                                праці</p>
                        </div>
                        <div class="for-type-government" v-show="type == constants.GOVERNMENT">
                            <p class="result-disclaimer">Спеціальну пенсію скасовано всім окрім певних категорій<span
                                    class="info" data-toggle="popover" data-trigger="hover" data-placement="top"
                                    data-content='Спеціальну пенсію скасовано всім окрім тих, що станом на 1 травня 2016 року мали 20 років стажу дежслужби або 10 років стажу держстажу та займали посаду держслужбовця. Стаття 90. Пенсійне забезпечення 1. Пенсійне забезпечення державних службовців здійснюється відповідно до Закону України "Про загальнообов’язкове державне пенсійне страхування".'> </span>
                            </p>
                        </div>
                        <p id="note">*Зверніть увагу, дані розрахунки не являються кінцевими та можуть бути змінені.
                            Слідкуйте за оновленнями на офіційному сайті Пенсійного фонду України</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import constants from './constants'

    export default {
        name: 'result',
        props: ['type', 'value'],
        data() {
            return {
                constants: constants
            }
        }
    }
</script>